<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{ page.title }}{% endblock %} ::.. {{ site.title }} - {{ site.subtitle }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//netdna.bootstrapcdn.com/bootswatch/3.0.3/cyborg/bootstrap.min.css" rel="stylesheet">
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="{{ site.url }}/components/highlightjs/styles/github.css" />
        <link href="{{ site.url }}/css/style.css" rel="stylesheet">
        <link href="{{ site.url }}/atom.xml" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed" />
        <meta name="description" content="{{ site.subtitle }}"/>
        <meta name="author" content="{{ site.author }}"/>
    </head>
    <body>
        <header>
            <!-- Static navbar -->
            <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ site.url }}/">{{ site.title }}</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="{{ site.url }}/blog">Posts Archive</a></li>
                <li><a href="{{ site.url }}/blog/categories">Categories</a></li>
                <li><a href="{{ site.url }}/blog/tags">Tags</a></li>
                <li><a href="{{ site.url }}/about">About</a></li>
              </ul>
            </div><!--/.nav-collapse -->
            </div>

        </header>
        <div class="mainContent container">
            <div class="row">
                <div class="col-md-8">
                    {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
                </div>
                <div class="col-md-4 sidebar">
                    <div class="sidebar-nav">
                        <h4>Social</h4>
                        <ul class="nav">
                          <li><a href="{{ site.url }}/atom.xml">Feed</a></li>
                          <li><a href="https://github.com/resmo">GitHub</a></li>
                          <li><a href="http://resume.github.io/?resmo">GitHub Resumé</a></li>
                          <li><a href="https://twitter.com/resmo79">Twitter</a></li>
                          <li><a href="https://www.xing.com/profile/Rene_Moser12">Xing</a></li>
                          <li><a href="https://launchpad.net/~resmo">Launchad</a></li>
                          <li><a href="https://masterbranch.com/resmo">Masterbranch</a></li>
                          <li><a href="https://flattr.com/profile/resmo">Flattr</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <footer class="container">
        <p><a href="{{ site.url }}/atom.xml">XML/Atom</a> | <a href="https://github.com/resmo/renemoser.net">Source</a> | Powered by <a href="https://sculpin.io/">sculpin.io</a> | &copy; {{ site.title }}</p>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ site.url }}/components/jquery/jquery.min.js"><\/script>')</script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

        {% block scripts %}
        {% endblock %}

        {% if site.google_analytics_tracking_id %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ site.google_analytics_tracking_id }}']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        {% endif %}
        <script src="{{ site.url }}/components/highlightjs/highlight.pack.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </body>
</html>
