{% extends "default" %}

{% block meta %}
{% if page.author %}
<meta name="author" content="{{ page.author }}" />
{% else %}
<meta name="author" content="{{ site.author }}" />
{% endif %}
<meta name="keywords" content="{% for tag in page.tags %}{{ tag }}, {% endfor %}" />
<meta name="description" content="{{ page.title }}" />
{% endblock %}

{% block content_wrapper %}
    <article>
        <header>
        {% if page.categories %}
            {% for category in page.categories %}
            <a href="{{ site.url }}/blog/categories/{{ category|url_encode(true) }}">{{ category }}</a>
            {% endfor %}
        {% endif %}
            <h1>{{ page.title }}</h1>
        </header>
        <div class="meta" style="margin-bottom: 20px">
        {% if page.author %}
          <span class="label label-primary"><i class="fa fa-user"></i>&nbsp;{{ page.author }}</span>
        {% else %}
          <span class="label label-primary"><i class="fa fa-user"></i>&nbsp;{{ site.author }}</span>
        {% endif %}
        <span class="label label-primary"><i class="fa fa-clock-o"></i>&nbsp;{{ page.date|date("m/d/Y") }}</span>
        {% if page.updated_at %}
          <span class="label label-primary"><i class="fa fa-refresh"></i>&nbsp;{{ page.updated_at|date("m/d/Y") }}</span>
        {% endif %}
          <br/>
        {% if page.tags %}
            {% for tag in page.tags %}
            <span class="label label-default"><a href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}">{{ tag }}</a></span>
            {% endfor %}
        {% endif %}
        </div>
        <div class="content">
            {{ page.blocks.content|raw }}
        </div>
        <hr/>
        <div id="social">
            <p>Found a bug? <a href="https://github.com/resmo/renemoser.net/blob/master/source/_posts/{{ page.date | date('Y-m-d') }}-{{ page.url | split('/') | last }}.md"><i class="fa fa-code-fork"></i> Fork and fix it</a>!
            {% if site.use_social %}
            Support my work, spend some beer! 
            <a href="https://flattr.com/submit/auto?user_id=resmo&url=http:{{site.url}}{{page.url}}&title={{ page.title|url_encode(true) }}&language=en_GB&tags={% for tag in page.tags %}{{ tag|url_encode(true) }},{% endfor %}&category=text">
            <img src="https://api.flattr.com/button/flattr-badge-large.png" alt="{{ page.title }}" />
            </a>
            </p>
        </div>
        {% endif %}
        {% if page.previous_post or page.next_post %}
        <div id="pager">
          <ul class="pager">
              {% if page.previous_post %}
                  <li class="previous"><a href="{{ site.url }}{{ page.previous_post.url }}" title="Previous: {{ page.previous_post.title }}"><span class="glyphicon glyphicon-step-backward"></span> Previous</a></li>
              {% endif %}
              {% if page.next_post %}
                  <li class="next" ><a href="{{ site.url }}{{ page.next_post.url }}" title="Next: {{ page.next_post.title }}"><span class="glyphicon glyphicon-step-forward"></span> Next</a></li>
              {% endif %}
          </ul>
        </div>
        {% endif %}
    </article>
{% endblock %}

