{% extends "default" %}
{% block content_wrapper %}
    <article>
        <header>
            <h1>{{ page.title }} <small><a href="https://github.com/resmo/renemoser.net/blob/master/source/_posts/">edit</a></small></h1>
        </header>
        <div class="meta" style="margin-bottom: 20px">
        {% if page.author %}
          <span class="label label-primary">{{ page.author }}</span>
        {% else %}
          <span class="label label-primary">{{ site.author }}</span>
        {% endif %}
          <span class="label label-primary">{{ page.date|date("m/d/Y") }}</span>
        {% if page.categories %}
            {% for category in page.categories %}
            <span class="label label-info"><a href="{{ site.url }}/blog/categories/{{ category|url_encode(true) }}">{{ category }}</a></span>
            {% endfor %}
        {% endif %}
        {% if page.tags %}
            {% for tag in page.tags %}
            <span class="label label-default"><a href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}">{{ tag }}</a></span>
            {% endfor %}
        {% endif %}
        </div>
        <div class="content">
            {{ page.blocks.content|raw }}
        </div>
        <br/><br/>
        {% if site.use_social %}
        <div class="share">
            <ul>
                <li>
                    <script id='fbmamqg'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=resmo&button=compact&url='+encodeURIComponent(document.URL);f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fbmamqg');</script>
                </li>
                <li>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="resmo79">Tweet</a>
                </li>
            </ul>
        </div>
        {% endif %}
        {% if page.previous_post or page.next_post %}
        <nav class="article">
            <ul class="nav nav-pills">
                {% if page.next_post %}
                    <li><a class="next" href="{{ site.url }}{{ page.next_post.url }}" title="Next: {{ page.next_post.title }}"><span class="glyphicon glyphicon-step-backward"></span> Next</a></li>
                {% endif %}
                {% if page.previous_post %}
                    <li><a class="previous" href="{{ site.url }}{{ page.previous_post.url }}" title="Previous: {{ page.previous_post.title }}"><span class="glyphicon glyphicon-step-forward"></span> Previous</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </article>
{% endblock %}

