.blink {
  animation: blink 1s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
  to { visibility: hidden; }
}
@-webkit-keyframes blink {
  to { visibility: hidden; }
}

body { 
  padding-top: 70px; 
  font-family: 'Source Sans Pro', sans-serif;
  color: #efefef;
}

header > h1 {
  padding-top: 0px;
  margin-top: 2px;
}

.label {
  margin-left: 2px;
}

h1, h2, h3, .meta {
  padding-bottom: 4px;
  text-shadow: #000 1px 1px 1px;
}

h1, .categories {
  font-size: 24px;
}

h2, .tags {
  font-size: 18px;
}

h3 {
  font-size: 14px;
}

ul {
  list-style-type:square;
}

blockquote {
  font-style: italic;
}

footer {
  margin-top: 10px;
}

.share ul {
  list-style: none;
  padding: 5px;
  margin: 0;
}

.share li {
  display: inline;
  padding-left: 1px;
  padding-right: 1px;
}

article {
  margin-bottom: 10px;
}

#map {
  height: 200px; 
  margin-bottom: 10px;
}
