---
layout: default
title: Home
generator: pagination
pagination:
    max_per_page: 5
use:
    - posts
---
{% for post in page.pagination.items %}
    <article>
        <header>
            {% if post.meta.categories %}
            {% for category in post.meta.categories %}
            <a href="{{ site.url }}/blog/categories/{{ category|url_encode(true) }}">{{ category }}</a>
            {% endfor %}
            {% endif %}
            <h1><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a> ::..</h1>
        </header>
        <div class="meta" style="margin-bottom: 20px">
            {% if page.meta.author %}
            <span class="label label-primary"><i class="fa fa-user"></i>&nbsp;{{ post.meta.author }}</span>
            {% else %}
            <span class="label label-primary"><i class="fa fa-user"></i>&nbsp;{{ site.author }}</span>
            {% endif %}
            <span class="label label-primary"><i class="fa fa-clock-o"></i>&nbsp;{{ post.date|date("m/d/Y") }}</span>
            {% if post.meta.updated_at %}
            <span class="label label-primary"><i class="fa fa-refresh"></i>&nbsp;{{ post.meta.updated_at|date("m/d/Y") }}</span>
            {% endif %}
        </div>
    </article>
{% endfor %}

{% if page.pagination.previous_page or page.pagination.next_page %}
    <div id="pager">
        <ul class="pager">
            {% if page.pagination.previous_page %}
            <li class="previous"><a href="{{ site.url }}{{ page.pagination.previous_page.url }}"><span class="glyphicon glyphicon-step-backward"></span> Previous</a></li>
            {% endif %}
            {% if page.pagination.next_page %}
            <li class="next" ><a href="{{ site.url }}{{ page.pagination.next_page.url  }}"><span class="glyphicon glyphicon-step-forward"></span> Next</a></li>
            {% endif %}
        </ul>
    </div>
{% endif %}
