---
layout: default
title: Home
generator: pagination
pagination:
    max_per_page: 5
use:
    - posts
---
{% for post in page.pagination.items %}
    <article>
        <header>
            <h2><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a> ::..</h2>
        </header>
        <div class="meta" style="margin-bottom: 20px">
        {% if page.meta.author %}
          <span class="label label-primary">{{ post.meta.author }}</span>
        {% else %}
          <span class="label label-primary">{{ site.author }}</span>
        {% endif %}
          <span class="label label-primary">{{ post.date|date("m/d/Y") }}</span>
        {% if post.meta.categories %}
            {% for category in post.meta.categories %}
            <span class="label label-info"><a href="{{ site.url }}/blog/categories/{{ category|url_encode(true) }}">{{ category }}</a></span>
            {% endfor %}
        {% endif %}
        {% if post.meta.tags %}
            {% for tag in post.meta.tags %}
            <span class="label label-default"><a href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}">{{ tag }}</a></span>
            {% endfor %}
        {% endif %}
        </div>
    </article>
{% endfor %}
{% if page.pagination.previous_page or page.pagination.next_page %}
    <ul class="nav nav-pills">
    {% if page.pagination.previous_page %}
      <li><a href="{{ site.url }}{{ page.pagination.previous_page.url }}"><span class="glyphicon glyphicon-step-backward"></span> Newer Posts</a></li>
    {% endif %}
    {% if page.pagination.next_page %}
      <li><a href="{{ site.url }}{{ page.pagination.next_page.url }}"><span class="glyphicon glyphicon-step-forward"></span> Older Posts</a></li>
    {% endif %}
    </ul>
{% endif %}
